.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ProjectHeader {
    font-size: 40px;
    font-weight: bolder;
    color: antiquewhite;
    padding: 20px;
}

.btn-group {

}

.btn-secondary {
    padding: 10px 20px;
    margin-left: 15px;
    background-color: rgba(250, 235, 215, 0.5);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px grey;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
}

.btn-secondary:hover {
    background-color: rgba(250, 235, 215, 0.7);
}

.btn-secondary:active {
    background-color: rgba(250, 235, 215, 1);
    /*background-color: red;*/
}

.buttonsCluster {
    display: flex;
}